<h1 class="page-header"  >Frequently Asked Questions (FAQs)</h1>
<div class="bg">
<div class="contextmenu">
    <!-- <img src="/assets/images/Aboutus.jpg"> -->
<ngb-accordion #acc="ngbAccordion" >
   
    
    <ngb-panel title="What is Home Loan?">
      <ng-template ngbPanelContent>
        Home loan is a form of secured loan that is availed by a customer to purchase a house. The property can be an 
        under-construction or a ready property from a developer, purchase of a resale property, to construct a housing unit on a plot of land, to make improvements and extensions to an already existing house and to transfer your existing home loan availed from another financial institution to HBI. A housing loan is repaid through equated 
        monthly installments (EMI) which consists of a portion of the principal borrowed and the interest accrued on the same.
         
      </ng-template>
    </ngb-panel>
    <ngb-panel title="What does an EMI Mean?">
        <ng-template ngbPanelContent>
            EMI refers to the ‘Equated Monthly Installment’ which is the amount you will pay to us on 
            a specific date each month till the loan is repaid in full. The EMI comprises of the principal and interest 
            components which are structured in a way that in the initial years of your loan, the interest component is much larger than the principal component, while towards the latter half of the loan, the principal component is much larger.
        </ng-template>
      </ngb-panel>
      <ngb-panel title="How will HBI decide the home loan amount i am eligible for? ">
        <ng-template ngbPanelContent>
            HBI will determine your Home Loan Eligibility largely by your income and repayment capacity. Other important factors 
            include your age, qualification, number of dependants,
            your spouse's income (if any), assets & liabilities, savings history and the stability & continuity of occupation.
        </ng-template>
      </ngb-panel>
      <ngb-panel title="When can I make a home loan application? ">
        <ng-template ngbPanelContent>
            You can apply for a Home Loan at any time once you have decided to purchase or construct a property, 
            even if you have not selected the property or the construction has not commenced.
        </ng-template>
      </ngb-panel>
      <ngb-panel title="How do i make a loan application? ">
        <ng-template ngbPanelContent>
            You could collect an application form from our nearest office or simply download it from our website and submit it yourself along with the supporting documents and the processing fee cheque at any HBI office that is convenient to you. Alternatively you have the option to make an online application from anywhere in the world by clicking on ‘Instant Home Loan’
             on our website and also know your Home Loan eligibility instantly.
        </ng-template>
      </ngb-panel>
      <ngb-panel title="How do I apply for a home loan? ">
        <ng-template ngbPanelContent>
            You can avail a HBI home loan online in 4 quick and easy steps:
            1. Sign Up / Register
            2. Fill in the home loan application form
            3. Upload Documents
            4. Pay Processing Fee
            5. Get Loan Approval
        </ng-template>
      </ngb-panel>
      <ngb-panel title="What is the maximum home loan that I can obtain? ">
        <ng-template ngbPanelContent>
            You are required to pay 10-25% of the total property cost as  ‘own contribution depending upon the loan amount.
             75 to 90% of the property cost is what can be availed as a housing loan. In case of construction, home improvement
             and home extension loans, 75 to 90% of the construction/improvement/extension estimate can be funded.
        </ng-template>
      </ngb-panel>
      <ngb-panel title="How does a home loan work in India? ">
        <ng-template ngbPanelContent>
            The Home loan process in India usually goes through the following stages:

            Home Loan Application & Documentation
            You can apply for a home loan online from the ease and comfort of your home with HBI’s online application feature. Alternatively, you can share your contact details here for our loan experts to get in touch with you and take your loan application forward.
            
            The documentation needed to be submitted along with your home loan application form is available here. This link provides a detailed checklist of KYC, Income and property related documents required for the processing of your home loan application. The checklist is indicative and additional documents could be asked for during the home loan sanction process.
            
            Approval & Disbursement of Home Loan
            Approval Process: The home loan is assessed basis the documents submitted as per the above-mentioned checklist and the approved amount is communicated to the customer. There might be a difference between the housing loan amount applied for and the amount approved. On approval of the housing loan, a sanction letter detailing the loan amount, tenure, applicable interest rate, repayment mode and other special conditions required to be fulfilled by the applicants is issued.
            
            Disbursement Process: The home loan disbursement process begins with submitting the original property related documents to HBI. In case the property is an under-construction property, disbursement is done in tranches according to the construction linked payment plan provided by the developer. In the case of construction/home improvement/home extension loans, disbursement is done as per the progress of construction/improvement as per the estimate provided. For second sale / resale properties the complete loan amount is disbursed at the time of execution of a sale deed.
            
            Repayment of Home Loan
            Repayment of home loans is done through Equated Monthly Installments (EMIs), which is a combination of interest and principal. In the case of loans for resale homes, EMI begins from the month subsequent to the month in which disbursement of the loan is done. In the case of loans for under-construction properties, EMI usually begins once the construction is complete and the house loan is fully disbursed. Customers can however also choose to begin their EMIs sooner. The EMIs will proportionately increase with every partial disbursement made as per the progress of construction.
        </ng-template>
      </ngb-panel>
      <ngb-panel title="Will interest rate change during home loan tenure? ">
        <ng-template ngbPanelContent>
            Your housing loan interest rate depends on the type of loan you choose. There are two types of loans:

            Adjustable Rate or Floating Rate
            In an adjustable or floating rate loan, the interest rate on your loan is linked to your lender’s benchmark rate. Any movement in the benchmark rate will effectuate a proportionate change in your applicable interest rate. The interest rates are reset at defined intervals. The reset can be according to the financial calendar, or they can be unique to each customer, depending on the first date of disbursement.
            
            Combination Loans
            A combination loan is part fixed and part floating. Post the fixed rate tenure, the loan switches to an adjustable rate.
        </ng-template>
      </ngb-panel>
      <ngb-panel title="What are the benefits of using an EMI calculator for home loan? ">
        <ng-template ngbPanelContent>
            Following are the benefits of an EMI calculator for a home loan-

Helps in planning your finances in advance

An EMI calculator is useful in planning your cash flows much in advance, so that you make your home loan payments with ease whenever you avail a home loan. In other words, an EMI calculator is a useful tool for your financial planning and loan servicing needs.

Easy to use

EMI calculators are very simple and easy to use. You need to provide only three input values namely:

a. Loan Amount
b. Interest Rate
c. Tenure

Basis these three input values, the EMI calculator will compute the instalment you need to pay to the home loan provider each month. Some EMI calculators for home loan also provide a detailed breakup of the interest and principal amount you will be paying over the entire loan tenure.

Helps brings focus on property search

The EMI calculator helps you arrive at the right home loan amount that best fits your monthly budget, by helping you decide the loan EMI and tenure most suitable to your financial position. This helps bring more focus on your property search.

Easily accessible

An online EMI calculator is easily accessible online from anywhere. You can try various combinations of the input variable as many times as required to arrive at the right home loan amount, EMIs, and tenure best suited to your needs.

You can avail home loan and buy your dream house in cities like Mumbai, Delhi, Bangalore, Chennai, Hyderabad, Pune, Jaipur and more.
        </ng-template>
      </ngb-panel>
    
</ngb-accordion> 

</div>
</div>


