.bg{
    // background-image: url("/assets/images/faq.jpg");
    background-color:( #00adef);
}

.page-header {
    color: rgb(1, 1, 13);
    margin-top: 0;
    text-align: center;
    padding-top: 55px;
    margin: 40px 0 20px;
    
}
.contextmenu{
    
    padding-left: 200px;
    padding-right: 200px;
}