<ul ngbNav #nav="ngbNav" [activeId]="2" class="nav-tabs header justify-content-center"></ul>

<div class="banner-div">
        <div class="conatiner">
            <div class="intro-text">
                <span>| Features</span>
            </div>
        </div>
</div>

<div class="bg">
<div class="content">
<section class="about-content ">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-md-8">
                    <h2><span>HBI</span>Regular Home loan</h2>
                    <p>HBI Home Loans is the largest Mortgage Lender in India, which has helped over 30 lakh families to achieve the dream of owning a home.  </p>
                   
                    <div class="contextmenu"></div>
                    <ngb-accordion #acc="ngbAccordion" >
                    <ngb-panel title="Features">
                        <ng-template ngbPanelContent>
                           1) Home Loan products to suit every customers need<br>
                           2) Low Interest Rates <br>
                           3) Low Processing Fee <br>
                           4) No Hidden Charges <br>
                           5) No Pre Payment Penalty <br>
                           6) Interest charges on Daily Reducing Balance <br>
                           7) Repayment up to 30 years <br>
                           8) Home Loan Available as Overdraft <br>
                           9) Interest Concession for Women Borrowers <br>
                        </ng-template>
                        </ngb-panel>			
                        </ngb-accordion>

                  <div class="contextmenu"></div>
                  <ngb-accordion #acc="ngbAccordion" >
                  <ngb-panel title="Eligibility">
                  <ng-template ngbPanelContent>
                          1) Resident Type: Resident Indian<br>
                          2) Minimum Age: 18 years <br>
                          3) Maximum Age: 70 years<br>
                          4) Loan Tenure: up to 30 years<br>
                          5) Loan Amount: <br>
                </ng-template>
                </ngb-panel>			
                </ngb-accordion>

                <div class="contextmenu"></div>
                  <ngb-accordion #acc="ngbAccordion" >
                  <ngb-panel title="Documents Required">
                  <ng-template ngbPanelContent>
                          1) Pan Card<br>
                          2) Voter id<br>
                          3) Salary Slip<br>
                          4) LOA<br>
                          5) NOC from Builder<br>
                          6) Agreement To Sale
                </ng-template>
                </ngb-panel>			
                </ngb-accordion>
        </div>
    </div>
</div>
</div>

<section class="feature-section">
    <div class="container1">
        <div class="row">
            <div class="col-lg-12">
                <h2><span>OUR</span>Features &amp; Benefits</h2>
                <ul>
                    <li>
                        <p><img src="https://homeloans.sbi/images/benefits-icon.jpg" alt=""></p>
                        <p>Packages of exclusive benefits</p>
                    </li>
                    <li>
                        <p><img src="https://homeloans.sbi/images/interest-icon.jpg" alt=""></p>
                        <p>Low Interest rates.
                            Interest calculation on a daily
                            reducing balance.</p>
                    </li>
                    <li>
                        <p><img src="https://homeloans.sbi/images/pigi-icon.jpg" alt=""></p>
                        <p>Home loan also available as
                            an overdraft. Optimally
                            utilize your surplus funds.</p>
                    </li>
                    <li>
                        <p><img src="https://homeloans.sbi/images/process-icon.jpg" alt=""></p>
                        <p>Low Processing charges. No hidden costs.
                        </p>
                    </li>
                    <li>
                        <p><img src="https://homeloans.sbi/images/wallet-icon.jpg" alt=""></p>
                        <p>No Prepayment penalties.
                            Reduce your interest burden
                            by prepaying the loan</p>
                    </li>
                </ul>	
            </div>
        </div>
    </div>
</section>
