<br><br><br>
<div class="bg">
    <div class="display" style="padding-left: 500px;">
<h1 style="color:aliceblue">Your Status</h1>
<form [formGroup]="productForm">
    
    <div class="form-group">
    <label style="color:aliceblue">ReqId</label>
    <input type="number" formControlName="reqid" class="form-control" readonly>
    </div><br>
    <div class="form-group">
    <label style="color:aliceblue">Request Date :</label>
    <input type="text" class="form-control" formControlName="requestdate" readonly>
    </div><br>
    <div class="form-group">
    <label style="color:aliceblue">Status</label>
    <input type="text" formControlName="status" class="form-control" readonly>
    </div><br>
    </form>
    </div>
    </div>