.display{
    
    width:70%;
    position:center;
    padding-top: 100px;
    height:91vh;
}
.bg{
     // background-color: gray;
     background: -webkit-linear-gradient(to bottom right, rgb(120, 52, 134), rgb(32, 131, 173));
     background: linear-gradient(to bottom right, rgb(120, 52, 134), rgb(32, 131, 173));
}