.display{
    
    width:70%;
    position:center;
    padding-top: 60px;
    height:100vh;
}
.bg{
    // background-color: gray;
    background: -webkit-linear-gradient(to bottom right, rgb(120, 52, 134), rgb(32, 131, 173));
    background: linear-gradient(to bottom right, rgb(120, 52, 134), rgb(32, 131, 173));
}