<br><br><br><br>
<div class="bg">
    <div class="display" style="padding-left: 500px;">
<h1 style="color:aliceblue">Loan Details</h1>
<form [formGroup]="contactForm">

    <div class="form-group">
    <label style="color:aliceblue;">Maximum Loan :</label>
    <input type="text" formControlName="maxloan" class="form-control" readonly>
    </div><br>
    <div class="form-group">
    <label style="color:aliceblue;">Loan Amount :</label>
    <input type="text" formControlName="loanamount" class="form-control" readonly>
    </div><br>
    <div class="form-group">
    <label style="color:aliceblue;">Loan Tenure :</label>
    <input type="number" formControlName="loantenure" class="form-control" readonly>
    </div><br>
    <div class="form-group">
    <label style="color:aliceblue;">EMI :</label>
    <input type="text" formControlName="emi" class="form-control" readonly>
    </div><br>
    <div class="form-group">
        <label style="color:aliceblue;">Loan Date :</label>
        <input type="text" formControlName="loandate" class="form-control" readonly>
        </div><br>
</form>
</div>
</div>
