<ul ngbNav #nav="ngbNav" [activeId]="2" class="nav-tabs header justify-content-center"></ul>

<div class="banner-div">
        <div class="conatiner">
            <div class="intro-text">
                <span>| About us</span>
            </div>
        </div>
</div>

<div class="content">
<section class="about-content ">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-md-8">
                    <h2><span>HBI</span>Home loan</h2>
                    <p>HBI Home Loans is the largest Mortgage Lender in India, which has helped over 30 lakh families to achieve the dream of owning a home.  </p>
                    <h4>Our Values</h4>
                    <ul class="listing"> 
                        <li>Trust </li> 
                        <li>Transparency</li> 
                        <li>Integrity</li> 
                        <li>Excellence</li> 
                    </ul>
                    <h4>Value to Customers</h4> 
                    <ul class="listing"> 
                        <li>Wide Product Range </li> 
                        <li>Interest Calculation on Daily Reducing Balance</li> 
                        <li>Overdraft Facility available</li> 
                        <li>Low Interest Rates</li> 
                        <li>Low Processing Fees</li> 
                        <li>No Hidden Costs</li> 
                        <li>No Pre-payment penalty </li> 
                    </ul> 
                    <h4>Our Presence</h4> 
                    <ul class="listing"> 
                        <li>24,000+ branches </li> 
                        <li>1600+ member strong dedicated Sales Team </li>
                    </ul> 
                    <h4>Recognitions</h4> 
                    <ul class="listing"> 
                        <li>Winner of the “Best Home Loan Provider “at the CNBZ Awaaz Real Estate Awards 2016</li> 
                    </ul>  
                </div>
                <div class="col-md-4">
                    <img src="assets/images/aboutus1.jpg" alt="" width="500" height="300">
                </div>				
            </div>

        </div>
    </div>
</section>
</div>

<section class="feature-section">
    <div class="container1">
        <div class="row">
            <div class="col-lg-12">
                <h2><span>OUR</span>Features &amp; Benefits</h2>
                <ul>
                    <li>
                        <p><img src="https://homeloans.sbi/images/benefits-icon.jpg" alt=""></p>
                        <p>Packages of exclusive benefits</p>
                    </li>
                    <li>
                        <p><img src="https://homeloans.sbi/images/interest-icon.jpg" alt=""></p>
                        <p>Low Interest rates.
                            Interest calculation on a daily
                            reducing balance.</p>
                    </li>
                    <li>
                        <p><img src="https://homeloans.sbi/images/pigi-icon.jpg" alt=""></p>
                        <p>Home loan also available as
                            an overdraft. Optimally
                            utilize your surplus funds.</p>
                    </li>
                    <li>
                        <p><img src="https://homeloans.sbi/images/process-icon.jpg" alt=""></p>
                        <p>Low Processing charges. No hidden costs.
                        </p>
                    </li>
                    <li>
                        <p><img src="https://homeloans.sbi/images/wallet-icon.jpg" alt=""></p>
                        <p>No Prepayment penalties.
                            Reduce your interest burden
                            by prepaying the loan</p>
                    </li>
                </ul>	
            </div>
        </div>
    </div>
</section>
