<div class="home-about-container">
    <div class="home-about-content">
        <div>About HBI</div>
        <div>Home Loan</div>
        <div>
            HBI Home Loans is the largest Mortgage Lender in India, which has helped over 30 lakh families to achieve the dream of owning a home.
        </div>
        <a href="aboutus">Read more</a>
    </div>
    <div class="hone-about-illustration">
        <img src="assets/images/Homeloan.jpg" />
    </div>
</div>

<marquee style="font-weight: 1000;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;color:rgb(58, 58, 67)">HBI HOME LOANS...VALUES WE LEAVE!!!</marquee>

