
<br><br><br>
<div class="bg">
<div class="display" style="padding-left: 500px;">
    <h2 style="color:aliceblue">Your Details</h2>

    <form [formGroup]="productForm">
        <div class="form-group">
            <label style="color:aliceblue">First Name :</label>
            <input type="text" formControlName="firstName" class="form-control" readonly>
        </div>
        <div class="form-group">
            <label style="color:aliceblue">Last Name :</label>
            <input type="text" formControlName="lastName" class="form-control" readonly>
        </div>
        <div class="form-group">
            <label style="color:aliceblue">Email Id :</label>
            <input type="text" formControlName="emailid" class="form-control" readonly>
        </div>
        <div class="form-group">
            <label style="color:aliceblue">Phone Number :</label>
            <input type="text" formControlName="phoneNumber" class="form-control" readonly>
        </div>
        <div class="form-group">
            <label style="color:aliceblue">Password :</label>
            <input type="text" formControlName="password" class="form-control" readonly>
        </div>
        <div class="form-group">
            <label style="color:aliceblue">DOB</label>
            <input type="text" formControlName="dob" class="form-control" readonly>
        </div>
        <div class="form-group">
            <label style="color:aliceblue">Gender:</label>
            <input type="text" formControlName="gender" class="form-control" readonly>
        </div>
        <div class="form-group">
            <label style="color:aliceblue">Nationality :</label>
            <input type="text" formControlName="nationality" class="form-control" readonly>
        </div>
        <div class="form-group">
            <label style="color:aliceblue">AadharNo :</label>
            <input type="text" formControlName="aadharno" class="form-control" readonly>
        </div>
        <div class="form-group">
            <label style="color:aliceblue">PanCardNo :</label>
            <input type="text" formControlName="pancardno" class="form-control" readonly>
        </div>
        
    </form>
</div>
</div>

