.display{
    
    width:70%;
    position:center;
    padding-top: 100px;
}
.bg{
    // background-color: gray;
    background: -webkit-linear-gradient(to bottom right, rgb(120, 52, 134), rgb(32, 131, 173));
    background: linear-gradient(to bottom right, rgb(120, 52, 134), rgb(32, 131, 173));
}
// .approve-btn{
//     background-color:  #00adef;
//     outline: none;
//    border: none;
//   height: 40px;
// }