<br><br><br><br>
<div class="logout" style="text-align:right;padding-right: 10px;">
    <button [routerLink]="'/adminlogin'" style="font-size:24px;color:rgb(1, 1, 17);background-color:#00adef ;">Logout <i class="fa fa-power-off"></i></button>
</div>
<div class="container">
   
    <h1 style="text-align: centre;">Admin Dashboard</h1>
 
    <table class="table" id="customers">
        <thead>
            <tr>
                
                <th>ReqId</th>
                <th>EmailId</th>
                <th>RequestDate</th>
                <th>Status</th>                            
               
            </tr>
        </thead>
   
        <tbody>
            <tr *ngFor="let Loanrequest of loanstatus">
                <td>{{Loanrequest.ReqId}}</td>
                <td>{{Loanrequest.EmailId}}</td>
                <td>{{Loanrequest.RequestDate}}</td>
                <td>{{Loanrequest.Status}}</td>
                <td>
                    <button [routerLink]="['/viewdetails/', Loanrequest.ReqId]">View Request</button>
                </td>
                 
               
            </tr>
        </tbody>
    </table>
</div>